/* stylesheet */

* {
  background: #e4c59e;
  font-family: "Times New Roman", Times, serif;
}

body {
  color: #322c2b;
}

header h1 {
  font-size: 40px;
}

h1,
h2 {
  color: #803d3b;
}

img {
  border: 5px solid #000;
  height: auto;
  max-height: 400px;
  width: auto;
  max-width: 100%;
}

hr {
  border: 2px dashed #803d3b;
  width: 90%;
}

#main-img {
  border: none;
}

.centered-content {
  text-align: center;
}

.centered-content,
.recipe {
  margin: 0 5%;
}

/* remove margin to condense text for smaller screens */
@media all and (max-width: 700px) {
  .centered-content,
  .recipe {
    margin: 0;
  }
}
